.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

h1, h2, p, ul, figure {
 margin-top: 0;
 margin-left: 0;

}

ul {
  padding-left: 15px;
}

h1 {
  margin-bottom: 1.25em;
}

p {
  margin-bottom: 2.5em;
  max-width: 872px;
}

.wrapper {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

.wrapper p {
  margin-bottom: .625em;
  max-width: 692px;
}

.wrapper:last-child p, .wrapper:last-child{
  margin: 0;
}

h2 {
  margin-bottom: .41666667em;
}

li:not(:last-child) {
  margin-bottom: 1.25em;
}

img:not(figure>img) {
  margin-bottom: 2.5em;
}

figure {
  display: inline-block;
  margin-bottom: 2.5em;
  max-width: 872px;
}
