body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

h1, h2, p, ul, figure {
 margin-top: 0;
 margin-left: 0;

 color: #333;

}

ul {
  padding-left: 15px;
}

.main_headline {
  margin-bottom: 1.25em;

  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

p {
  margin-bottom: 2.5em;
  max-width: 872px;

  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.selections {
  padding: 2.5em 4.75em;
  width: 100%;

  font-weight: 700;
  font-size: 30px;
  color:#fff;

  background-color: #3f2aff;
  border-radius: 20px;
}

.wrapper {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;

  background-position: right center;
  background-repeat: no-repeat;
}

.wrapper p {
  margin-bottom: .625em;
  max-width: 692px;
}

.wrapper:last-child p, .wrapper:last-child{
  margin: 0;
}

.wrapper_bg_image-decorate-1 {
  background-image: url('/img/decorate-1.png');
}

.wrapper_bg_image-decorate-2 {
  background-image: url('/img/decorate-2.png');
}

h2 {
  margin-bottom: .41666667em;

  font-size: 40px;
  line-height: 46px;
}

li:not(:last-child) {
  margin-bottom: 1.25em;
}

li::marker {
  color: #3f2aff;
}

.link {
  border-bottom: 1px solid #3f2aff;

  font-size: 20px;
}

img:not(figure>img) {
  margin-bottom: 2.5em;
}

figure {
  display: inline-block;
  margin-bottom: 2.5em;
  max-width: 872px;

  font-size: 0;
}

figure figcaption {
  padding: 19px 0;

  font-weight: 400;
  font-size: 14px;
  text-align: center;

  border: 1px solid #b6b6b6;
  border-top: none;
}
