html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

.main__color {
  color: #3f2aff;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

.header_main_page {
  font-size: 50px;
  margin-bottom: 1em;
}

.links {
  margin-bottom: 3.125em;

}

.link {
  display: inline-block;
  padding: 1.5em 3.0625em;

  background-color: #3f2aff;
}


.link:not(:last-child) {
  margin-right: 1.5625em;
}

.link-style {
  font-weight: 700;
  font-size: 18px;

  color: #fff;
}

.downloader {
  background-image: url('/img/download.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  padding-left: 30px;
}

/* MODULES PAGE */

.main-container {
  max-width: 1170px;

  margin: 0 19.53125%;
  padding-top: 50px;

}

.header_modules {
  margin-bottom: 50px;
}

.logo {
  margin-bottom: 25px;
  display: block;
}

.link_to_main_page {
  display: inline-block;

  background-image: url('/img/arrow_right.svg');
  background-repeat: no-repeat;
  background-position: left center;

  padding-left: 50px;
  margin-bottom: 25px;
}

.main_headline_modules {
  margin: 0;
  font-size: 60px;
}
