html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

li {
  list-style: none;
}

.main__color {
  color: #3f2aff;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.header_main_page {
  font-size: 50px;
  margin-bottom: 1em;
}

.links {
  margin-bottom: 3.125em;

}

.link {
  display: inline-block;
  padding: 1.5em 3.0625em;

  background-color: #3f2aff;
}


.link:not(:last-child) {
  margin-right: 1.5625em;
}

.link-style {
  font-weight: 700;
  font-size: 18px;

  color: #fff;
}

.downloader {
  background-image: url('/img/download.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;

  padding-left: 30px;
}

/* MODULES PAGE */

.main-container {
  margin: 0 auto;
  padding: 50px 0;

  max-width: 1170px;
}

.header_modules {
  margin-bottom: 50px;
}

.logo {
  margin-bottom: 25px;
  display: block;
}

.link_to_main_page {
  display: inline-block;

  background-image: url('/img/arrow_right.svg');
  background-repeat: no-repeat;
  background-position: left center;

  padding-left: 50px;
  margin-bottom: 25px;
}

.main_headline_modules {
  margin: 0;
  font-size: 60px;
}

.card_module_list {
  display: flex;
  flex-wrap: wrap;


  margin: 0 0 50px 0;
  padding: 0;
}

.card_module_item {
  width: 572px;
  min-height: 505px;
  position: relative;

  margin-bottom: 25px;

  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;

  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
}

.bg_image_card_1 {
  background-image: url('/img/image_header_module_list_item_1.jpg');
}

.bg_image_card_2 {
  background-image: url('/img/image_header_module_list_item_2.jpg');
}

.bg_image_card_3 {
  background-image: url('/img/image_header_module_list_item_3.jpg');
}

.bg_image_card_4 {
  background-image: url('/img/image_header_module_list_item_4.jpg');
}

.card_module_item:not(:nth-child(even)) {
  margin-right: 25px;
}

.card_module_item:nth-child(3), .card_module_item:nth-child(4) {
  margin-bottom: 0;
}

.headline_card_module {
  font-size: 25px;
  line-height: 46px;
  margin: 0;
}

.transfers {
  padding: 0;
}

.transfer {
  font-size: 20px;
  line-height: 165%;
}

.transfers_wrapper {
  padding: 25px;
  padding-top: calc(180px + 25px);

}

.number_module {
  display: inline;
  position: absolute;
  right: 25px;
  bottom: 25px;

  padding: 0;
  margin: 0;

  font-size: 40px;
  line-height: 46px;

  color: #EAEAEA;
}

.button_wrapper {
  display: flex;
  justify-content: center;
}

.btn_show_more {
  padding: 25px 75px;

  background: inherit;

  cursor: pointer;

  font-size: 18px;
  font-weight: bold;

  border: 2px solid #3F2AFF;
}
